
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2, 100px);
	grid-template-row:repeat(2, 100px);
}
.item{
	border:1px solid black;
	/* width:100px; */
	/* height:100px; */
}